<div class="center hero-unit">
	<h1>Welcome to Offline</h1>

	<h2>
		Offline is anything and everything you want it to be..
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>